__pycache__

# Build directories
_build/
build/

# User-specific CMake presets
CMakeUserPresets.json

# Miscellanous tools
.cline_storage/

# claude tmp files
.nfs*
a.out
shared/kernel_generator.egg-info/
shared/kernel_generator/kernel_generator.egg-info/
